.header {
  height: 700px;
  background-color: var(--color-bg);
  background-image: url('images/header/bg-2x.png');
  background-position: right;
  background-size: cover;
  position: relative;

  &__logo {
    position: relative;
    z-index: 10;
    width: 246px;
    background-size: cover;
    min-height: 36px;
    max-height: 36px;
    background-image: url('images/logo.svg');
  }
}

.header-mesh {
  position: absolute;
  top: 0;
  left: 0;
  /*background-image: url('images/mesh-2x.png');*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*filter: url(#noiseFilter);*/
  width: 100%;
  height: 100%;
  /*opacity: .1;*/
  z-index: 15;
  background-color: white;
}

.header-container {
  height: 100%;
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 130px;
}

.header-content {
  max-width: 542px;
  margin-top: 62px;
  z-index: 20;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__title {
    text-transform: uppercase;
    &:nth-of-type(2) {
      text-align: center;
    }
    &:nth-of-type(3) {
      text-align: right;
    }
  }
  &__subtitle {
    display: inline-block;
    text-align: center;
    margin-top: 24px;
  }
}

.header-buttons {
  display: flex;
  column-gap: 16px;
  margin-top: 40px;
  &__button {
    max-height: 72px;
  }
}

.header-images {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background-color: var(--color-bg);
  background-image: url('images/mesh-2x.png');
  background-size: cover;
  background-blend-mode: color-burn;
  &__disk {
    position: absolute;
    top: -45px;
    right: 0;
    left: auto;
    background-blend-mode: color-burn;
    background-image: url('images/mesh-2x.png'), url('images/header/disk.svg');
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 660px;
    /*transform: translateY(-8.4rem);*/
    aspect-ratio: 1;
    z-index: 5;
  }
  &__disk-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1294px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }
  &__city-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__city {
    width: 100%;
    height: 100%;
    max-width: 1623px;
    max-height: 452px;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    background-image: url('images/header/city-2x.png');
    background-size: cover;
    background-position: center;
    z-index: 15;
  }
  &__king {
    position: absolute;
    width: 103.78px;
    height: 255.9px;
    background-image: url('images/mesh-2x.png'), url('images/header/king-2x.png');
    background-size: cover;
    background-blend-mode: color-burn;
    clip-path: url(#headerKingPath);
    animation: 2s mesh-shift steps(5, end) infinite;
    z-index: 10;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: translate(100px, -180px) rotate(-6deg);
    transition: 400ms;
  }
  &__queen {
    transition: 200ms;
    position: absolute;
    clip-path: url(#headerQueenPath);
    animation: 2s mesh-shift steps(5, end) infinite;
    width: 113.16px;
    height: 252.44px;
    background-image: url('images/mesh-2x.png'), url('images/header/queen-2x.png');
    background-blend-mode: color-burn;
    background-size: cover;
    z-index: 10;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: translate(450px, -276px) rotate(8deg);

  }
  &__pawn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 82.6px;
    height: 122.2px;
    object-fit: contain;
    z-index: 15;
    transform: translate(-230%, -20px);
  }
  &__knight {
    position: absolute;
    width: 153.87px;
    height: 244px;
    right: -290px;
    bottom: 0;
    object-fit: contain;
    transform: translate(-655px, 40px);
    z-index: 15;
  }
}

@media screen and (max-width: 640px) {
  .header-buttons {
    display: flex;
    row-gap: 14px;
    flex-wrap: wrap;
    &__button {
      width: 100%;
      max-height: none;
    }
  }
  .header-images {
    &__king {
      animation: none;
    }
    &__queen {
      animation: none;
    }
  }
}
