* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

html {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-dark-charcoal);
}

.app-feed {
  height: 60px;
  background-color: var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  &__words {
    background-image: url('images/running-line.png');
    background-repeat: repeat-x;
    animation: marquee 40s infinite linear alternate-reverse;
    height: 100%;
    width: 100%;
    background-position-y: center;
    background-size: cover;
  }
}

.container {
  margin: 0 auto;
  max-width: 1366px;
  padding-left: 72px;
  padding-right: 72px;
  /*box-sizing: content-box;*/
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.absolute {
  position: absolute;
  left: 0;
  top: 0;
}

.desktop {
  display: block;
}

.tablet,
.mobile {
  display: none;
}

@media screen and (max-width: 640px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .mobile {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
  }
}

@keyframes marquee {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -100%;
  }
}