:root {
  --color-maize: #FBCE51;
  --color-dark-charcoal: #313131;
  --color-eerie: #1F1F1F;
  --color-white: #fff;
  --color-link: #3057A2;
  --color-accent: #F54932;
  --color-bg: #E9DED4;
  --color-silver: #D0D0D0;
  --color-light-silver: #D9D9D9;
  --max-width: 1360px;
  --ds-h-pd: 72px;
  --mb-h-pd: 20px;

  --sm-breakpoint: 640px;
}
